---
title: About
layout: 'base.njk'
eleventyExcludeFromCollections: true
---

<main>


  <section class="about-hero">

    <div class="about-hero-container container">
      <div class="about-hero-content">
     <h3 style=" margin-bottom: 20px; font-size: 1.5em;">
   I’m <br> Mercy Birungi <br> 
<br>
    My expertise lies in developing innovative solutions that bridge the realms of technology and data to address complex challenges. With a passion for creating impactful software and harnessing the power of data, I bring a unique blend of creativity and technical proficiency to every project.
</h3>

      </div>
      <div class="about-hero-image">
        <img src="{{ '/img/HS3KWAC-20.jpg' | url }}" alt="mercy |nercybirungi">
      </div>
    </div>

  </section>


</main>
